'fileTypes': [
  'changes'
]
'firstLineMatch': '-{67}'
'name': 'Changes'
'scopeName': 'text.changes'
'patterns': [
  {
    'match': '^(-{67})\\n'
    'name': 'separator.changes'
  }
  {
    'match': '^(-{4,66})\\n'
    'name': 'invalid.illegal.changes'
  }
  {
    'match': '^(-{68,})\\n'
    'name': 'invalid.illegal.changes'
  }
  {
    'captures':
      '1':
        'name': 'entity.date.changes'
      '2':
        'name': 'entity.email.changes'
    'match': '^([A-Z][a-z][a-z] [A-Z][a-z][a-z] [ 0-9][0-9] [0-9:]{8} [A-Z]+ [0-9]+) - (\\S+@\\S+)'
    'name': 'meta.header.changes'
  }
  {
    'match': '(bnc|bsc|boo|BNC|BSC|BOO)\\s*#\\d+'
    'name': 'bug_number.changes'
  }
  {
    'match': '(fate|FATE)\\s*#\\d+'
    'name': 'fate_number.changes'
  }
]
