# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.platform-linux atom-text-editor[data-grammar*=changes]': [
    {
      'label': 'Add a new changes entry'
      'command': 'language-changes:add-new-entry'
    }
  ]
